* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
  padding: 10px;
}
.navbar {
    background-color: transparent !important;
}
.navbar-brand {
    color: #39BF57 !important;
    font-size: 22px;
    font-weight: 700;
    
}

.nav-item + .nav-item { /* Add left margin to nav items, starting from the second item */
    margin-left: 15px;
    color: #39BF57;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #39BF57;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: #39BF57;
}
.download-but{
    background: #39BF57;
    border: 1px solid #39BF57;
}

.download-but:hover{
    background: white;
    border: 1px solid #39BF57;
    color: #39BF57;

}

/* .first-section{
    padding: 50px;
} */
.section1{
    margin-top: 10%;
}

/* .first-section{
    margin-top: -40px;
} */
.first-section h6{
     color: #39BF57;
     letter-spacing: 0.2em;
     
}

.first-section span{
    color: #39BF57;
}

.first-section h2{
    font-weight: 800;
}

.first-section p{
    color: gray;
    margin-top: 20px;
    
}

.get-started{
    background: #39BF57;
    border: 1px solid #39BF57;
    color: white;
    font-size: 12px;
    width: 120px;
    height: 45px;
}

.get-started:hover{
    background: white;
    border: 1px solid #39BF57;
    color: #39BF57;
    font-size: 12px;
}

.get-app{
    background: white;
    border: 1px solid #39BF57;
    color: #39BF57;
    font-size: 12px;
    width: 120px;
    height: 45px;
}

.get-app:hover{
    background: #39BF57;
    border: 1px solid #39BF57;
    color: white;
    font-size: 12px;
}

.phone-container {
    position: absolute;
    top: 20%;
    left: 60%;
    background: #39BF57;
    height: 60%;
    width: 23%;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 50px;


}

.phone{
    width: 69%;
    position: relative;
    left: 18%;
    top: -17%;
}

.section2{
    margin-top: 17%;
}

.section2 .head{
    text-align: center;
}

.head span{
    color: #39BF57;
}

.head p{
    color: #7A7B7D;
    font-size: 14px;
}

.phone-container2{
    background: #39BF57;
    width:  390px;
    height: 492.5px;
   border-radius: 20px;
    padding: 20px;
  }

.phone-container2 h6{
    color: #ffff;
    width: 64%;
}
.phone2{
    width: 70%;
    position: relative;
    left: 50%;
    top: 10%;
}

.phone-container2 li{
    margin: 4px;
    position: relative;
    top: -70px;
}
.app-store-btn {
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #000000;
    text-decoration: none;
    color: #fff;
    width: 140px;
    height: 50px;
  }
  
  .app-store-btn img {
    margin-right: 10px;
  }
  
  .app-store-btn span {
    font-size: 11px;
    line-height: 16px;
  }

  .app-store-btn p {
    font-size: 17px;
    line-height: 16px;
  }


  .phone-container3{
    background: #F6F6F6;
    width:  280px;
    height: 510px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
    margin-left: 97px;
  }

  .iphone3{
    position: relative;
    left: 27.5%;
    top: -4%;
  }

  .phone-container3 h5{
    text-align: center;
    
  }
  .phone-container3 p{
    text-align: left;
    color: #7A7B7D;
    font-size: 13px;
  }

  .phone-container4{
    background: #F6F6F6;
    width:  280px;
    height: 510px;
   border-radius: 20px;
    padding: 20px;
    margin-left: 90px;
  }

  .iphone4{
    position: relative;
    right: 20px;
    top: -4%;
  }

  .phone-container4 h5{
    text-align: center;
    margin-top: 60px;
    
  }
  .phone-container4 p{
    text-align: left;
    color: #7A7B7D;
    font-size: 13px;
  }

  .section3{
    margin: auto;
    width: fit-content;
    width: 80%;
    padding: 20px;
    background: #c3e9f8;
    /* opacity: .2; */
    border-radius: 10px;
    margin-top: 60px;
  }

  .header3 h3{
    color: #000000;
    text-align: center;
  }
  .header3 p{
    color: #7A7B7D;
    text-align: center;
  }
  .iphone5{
    width: 60%;
    margin-left: 22%;
    margin-top: 20px;
  }

  .account{
    width: 130%;
    height: 22%;
    background: #fff;
    margin-top: 60px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .green{
    width: 7px;
    height:13.5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #39BF57;
    position: absolute;
    left: 37.7%;
    top: 221.9%;
  }
  .account h5{
    margin-left: 30px;
    font-weight: 700;
  }
  .account p{
    font-size: 12px;
    margin-left: 30px;
  }
 
@media only screen and (min-width: 1200px) {
    /* Styles for screens that are 1200px wide or more */
    .phone-container {
        position: absolute;
        top: 70%;
        left: 60%;
        background: #39BF57;
        height: 40%;
        width: 23%;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 50px;
    
    
    }
    
    .phone{
        width: 69%;
        position: relative;
        left: 18%;
        top: -17%;
    }

    .first-section p{
        color: gray;
        margin-top: 20px;
        width: 80%;
    }
}

@media only screen and (min-width: 769px) {
    /* Styles for screens that are 769px wide or more*/
    /* my laptop */

    .navbar-brand {
        color: #39BF57 !important;
        font-size: 22px;
        font-weight: 700;
        margin-left: 60px;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping to multiple lines if needed */
        margin: 0; /* Remove default list margins */
        padding: 0; /* Remove default list padding */
      }
      
      ul li {
        list-style: none; /* Remove bullets if desired */
        margin-right: 10px; /* Optional: Add spacing between items */
      }
      .count{
        position: absolute;
        top: 70%;
        display: flex;
        margin: 0;
        padding: 0;
      }
      .counter{
        margin-right: 40px;
        
      }
      #count1{
        
        font-size: 20px;
        color: #000000;
        font-weight: 900;
      }

      #count{
        margin-top: -20px;
        font-size: 12px;
        color: #7A7C7E;
        width: 80px;
      }

    .phone-container {
        position: absolute;
        top: 20%;
        left: 60%;
        background: #39BF57;
        height: 60%;
        width: 23%;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 50px;
    
    
    }
    
    .phone{
        width: 69%;
        position: relative;
        left: 17%;
        top: -17%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Styles for screens between 601px and 768px wide */
    .phone-container {
        position: absolute;
        top: 20%;
        left: 60%;
        background: gold;
        height: 60%;
        width: 23%;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 50px;
    
    
    }
    
    .phone{
        width: 69%;
        position: relative;
        left: 18%;
        top: -17%;
    }
}

@media only screen and (max-width: 600px) {
    /* Styles for screens that are 600px wide or less */
   
    .section1{
        margin-top: 10%;
    }

    .first-section h6{
        color: #39BF57;
        font-size: 16px;   
   }
   
   .first-section span{
       color: #39BF57;
   }
   
   .first-section h2{
       font-weight: 800;
   }
   .first-section p{
    color: gray;
    margin-top: 20px;
    font-size: 11px;
    width: 80%;
    
}

ul {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple lines if needed */
    margin: 0; /* Remove default list margins */
    padding: 0; /* Remove default list padding */
  }
  
  ul li {
    list-style: none; /* Remove bullets if desired */
    margin-right: 10px; /* Optional: Add spacing between items */
  }


  .count{
    position: absolute;
    top: 45%;
    left: 15%;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .counter{
    margin-right: 30px;
    
  }
  #count1{
    
    font-size: 20px;
    color: #000000;
    font-weight: 900;
  }

  #count{
    margin-top: -20px;
    font-size: 12px;
    color: #7A7C7E;
    width: 80px;
  }

    .phone-container {
        visibility: hidden;
        position: relative;
        top: 20%;
        left: 60%;
        background: salmon;
        height: 60%;
        width: 23%;
        border-radius: 30px;
        margin-top: 40px;
        margin-left: 50px;
    
    
    }
    
    .phone{
        width: 69%;
        position: relative;
        left: 18%;
        top: -17%;
    }
}